<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OSN</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!--  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.liveieeeprojects.controllers.AdminLoginFilter</filter-class>
  </filter>-->
<!--  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/category</url-pattern>
    <url-pattern>/word</url-pattern>
  </filter-mapping>
  
  <filter>
  <filter-name>UserLoginFilter</filter-name>
  <filter-class>com.liveieeeprojects.controllers.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>UserLoginFilter</filter-name>
  
  <url-pattern>/wall</url-pattern>
  <url-pattern>/settings</url-pattern>
  </filter-mapping>
  -->
  
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>